@font-face {
    font-family: "iconfont";
    src: url('./iconfont.woff2') format('woff2'),
    url('./iconfont.woff') format('woff');
}

.hello {
    font-family: "iconfont";
    color: red;
    background: url('./icon.jpg');
}

.hello:before {
    content: "\e712";
}